.title {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    color: #777;
}

.steps-title {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    color: #777; 
    box-sizing: border-box;
    transition: all .3s;
    padding: 1rem;
    margin: 10px 3%;
    flex-basis: 200px;
    position: relative;
    flex-direction: column;
    border: 2px solid #afafaf;
    color: #636262;
    height: 60px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto,sans-serif;

}
.box{
    text-decoration: none;
}

  
  
  
